@charset "UTF-8";
/*
  RESET
*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

nav, footer, article, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  font-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none; }

/* убрать стрелки input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

*:focus,
*:active {
  outline: none; }

/*
  FONTS
*/
/*
  WRAPPER
*/
.wrapper {
  font-family: 'Roboto', sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .wrapper__header {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .wrapper__foter {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }

/*
  CONTAINER
*/
.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto; }

/*
  IMAGE
*/
.image {
  position: relative;
  overflow: hidden; }
  .image--contain {
    -o-object-fit: contain;
       object-fit: contain; }
  .image--cover {
    -o-object-fit: cover;
       object-fit: cover; }
  .image img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0; }

/*
  HEADER
*/
.header {
  background-color: #eeeff1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999; }
  @media screen and (max-width: 992px) {
    .header {
      height: 70px; } }
  .header--scroll {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, .2); }
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }

/*
  LOGO
*/
.logo {
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 60px;
  width: 60px; }
  @media screen and (max-width: 992px) {
    .logo {
      height: 40px;
      width: 40px; } }

/*
  MENU
*/
.menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu--show .menu__dropdown {
    max-height: 200px; }
  .menu__dropdown {
    display: block; }
    @media screen and (max-width: 992px) {
      .menu__dropdown {
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
                box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
        background-color: #eeeff1;
        -webkit-transition: max-height 0.6s ease;
        -o-transition: max-height 0.6s ease;
        transition: max-height 0.6s ease;
        position: fixed;
        overflow: hidden;
        max-height: 0;
        width: 100%;
        left: 0;
        top: 70px; } }
  .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 992px) {
      .menu__list {
        border-top: 1px solid rgba(0, 0, 0, .25);
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px; } }
  .menu__item:not(:last-child) {
    margin: 0 40px 0 0; }
    @media screen and (max-width: 992px) {
      .menu__item:not(:last-child) {
        margin: 0 0 10px 0; } }
  .menu__link {
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 16px;
    color: #000000; }
    @media screen and (min-width: 1210px) {
      .menu__link:focus, .menu__link:hover {
        color: #34547a; } }
    @media screen and (max-width: 992px) {
      .menu__link {
        text-transform: uppercase;
        font-size: 18px; } }
    @media screen and (max-width: 540px) {
      .menu__link {
        font-size: 16px; } }
    @media screen and (max-width: 360px) {
      .menu__link {
        font-size: 14px; } }
    .menu__link--active {
      color: #34547a; }
  .menu__burger {
    background-color: transparent;
    position: relative;
    height: 20px;
    width: 30px;
    display: none; }
    @media screen and (max-width: 992px) {
      .menu__burger {
        display: block; } }
    .menu__burger span {
      background-color: #34547a;
      border-radius: 20px;
      position: absolute;
      height: 4px;
      right: 0;
      -webkit-transition: opacity 0s 0.2s, top 0.2s 0.2s, width 0.2s 0.4s, -webkit-transform 0.2s;
      transition: opacity 0s 0.2s, top 0.2s 0.2s, width 0.2s 0.4s, -webkit-transform 0.2s;
      -o-transition: transform 0.2s, opacity 0s 0.2s, top 0.2s 0.2s, width 0.2s 0.4s;
      transition: transform 0.2s, opacity 0s 0.2s, top 0.2s 0.2s, width 0.2s 0.4s;
      transition: transform 0.2s, opacity 0s 0.2s, top 0.2s 0.2s, width 0.2s 0.4s, -webkit-transform 0.2s; }
      .menu__burger span:nth-child(1) {
        width: 100%;
        top: 0; }
      .menu__burger span:nth-child(2) {
        width: 75%;
        top: 8px; }
      .menu__burger span:nth-child(3) {
        width: 50%;
        top: 16px; }
    .menu__burger--active span:nth-child(n) {
      width: 100%;
      top: 8px;
      -webkit-transition: width 0.2s, top 0.2s 0.2s, opacity 0s 0.2s, -webkit-transform 0.2s 0.4s;
      transition: width 0.2s, top 0.2s 0.2s, opacity 0s 0.2s, -webkit-transform 0.2s 0.4s;
      -o-transition: width 0.2s, top 0.2s 0.2s, opacity 0s 0.2s, transform 0.2s 0.4s;
      transition: width 0.2s, top 0.2s 0.2s, opacity 0s 0.2s, transform 0.2s 0.4s;
      transition: width 0.2s, top 0.2s 0.2s, opacity 0s 0.2s, transform 0.2s 0.4s, -webkit-transform 0.2s 0.4s; }
    .menu__burger--active span:nth-child(1) {
      -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .menu__burger--active span:nth-child(2) {
      opacity: 0; }
    .menu__burger--active span:nth-child(3) {
      -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

/*
  START
*/
.start {
  background-color: #eeeff1;
  margin-top: 100px;
  padding: 150px 0; }
  @media screen and (max-width: 992px) {
    .start {
      padding: 130px 0;
      margin-top: 70px; } }
  @media screen and (max-width: 768px) {
    .start {
      padding: 110px 0; } }
  @media screen and (max-width: 540px) {
    .start {
      padding: 90px 0; } }
  @media screen and (max-width: 420px) {
    .start {
      padding: 70px 0; } }
  .start__outer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .start__image {
    margin: 0 90px;
    height: 230px;
    width: 360px; }
    @media screen and (max-width: 992px) {
      .start__image {
        margin: 0 30px 0 0; } }
    @media screen and (max-width: 768px) {
      .start__image {
        display: none; } }
  .start__inner {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 540px;
            flex: 0 1 540px; }
  .start__title {
    font-weight: 700;
    font-size: 48px;
    color: #000000; }
    @media screen and (max-width: 992px) {
      .start__title {
        font-size: 40px; } }
    @media screen and (max-width: 768px) {
      .start__title {
        font-size: 35px; } }
  .start__descr {
    margin: 40px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #727272; }
    @media screen and (max-width: 992px) {
      .start__descr {
        margin: 30px 0; } }

/*
  BUTTON
*/
.button {
  background-color: #34547a;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 5px;
  display: inline-block;
  padding: 20px 40px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff; }
  @media screen and (min-width: 1210px) {
    .button:focus, .button:hover {
      background-color: #426897; } }
  @media screen and (max-width: 768px) {
    .button {
      padding: 15px 30px;
      font-size: 12px; } }

/*
  SECTION
*/
.section {
  padding: 120px 0; }
  @media screen and (max-width: 992px) {
    .section {
      padding: 100px 0; } }
  @media screen and (max-width: 768px) {
    .section {
      padding: 80px 0; } }
  @media screen and (max-width: 540px) {
    .section {
      padding: 60px 0; } }
  @media screen and (max-width: 420px) {
    .section {
      padding: 40px 0; } }
  .section--white {
    background-color: #ffffff; }
  .section--grey {
    background-color: #f8f8f8; }
  .section-name {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .section-name--bottom {
      margin-bottom: 120px; }
      @media screen and (max-width: 992px) {
        .section-name--bottom {
          margin-bottom: 100px; } }
      @media screen and (max-width: 768px) {
        .section-name--bottom {
          margin-bottom: 80px; } }
      @media screen and (max-width: 540px) {
        .section-name--bottom {
          margin-bottom: 60px; } }
      @media screen and (max-width: 420px) {
        .section-name--bottom {
          margin-bottom: 40px; } }
    .section-name__content {
      text-align: center;
      max-width: 540px; }
    .section-name__title {
      margin-bottom: 50px;
      font-weight: 700;
      font-size: 30px;
      color: #000000; }
      @media screen and (max-width: 992px) {
        .section-name__title {
          margin-bottom: 45px;
          font-size: 28px; } }
      @media screen and (max-width: 768px) {
        .section-name__title {
          margin-bottom: 40px;
          font-size: 26px; } }
      @media screen and (max-width: 540px) {
        .section-name__title {
          margin-bottom: 30px;
          font-size: 24px; } }
      @media screen and (max-width: 420px) {
        .section-name__title {
          margin-bottom: 20px;
          font-size: 22px; } }
    .section-name__descr {
      line-height: 1.6;
      font-weight: 400;
      font-size: 16px;
      color: #727272; }
      .section-name__descr span {
        font-style: italic; }

/*
  INTRO
*/
.intro {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  display: -ms-grid;
  display: grid;
  gap: 50px; }
  @media screen and (max-width: 992px) {
    .intro {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 40px; } }
  @media screen and (max-width: 540px) {
    .intro {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      gap: 30px; } }
  .intro-item {
    position: relative; }
    .intro-item__image {
      height: 60px;
      width: 60px; }
      @media screen and (max-width: 992px) {
        .intro-item__image {
          height: 50px;
          width: 50px; } }
      @media screen and (max-width: 768px) {
        .intro-item__image {
          height: 40px;
          width: 40px; } }
    .intro-item__title {
      margin: 30px 0 20px;
      font-weight: 700;
      font-size: 22px;
      color: #000000; }
      @media screen and (max-width: 768px) {
        .intro-item__title {
          margin: 25px 0 15px;
          font-size: 20px; } }
      @media screen and (max-width: 540px) {
        .intro-item__title {
          margin: 15px 0;
          font-size: 20px; } }
    .intro-item__descr {
      line-height: 1.6;
      font-weight: 400;
      font-size: 16px;
      color: #727272; }

/*
  DOCS
*/
.docs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .docs-item {
    -webkit-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
    position: relative;
    overflow: hidden;
    max-height: 50px; }
    @media screen and (max-width: 540px) {
      .docs-item {
        max-height: 40px; } }
    .docs-item:not(:last-child) {
      margin-bottom: 30px; }
      @media screen and (max-width: 992px) {
        .docs-item:not(:last-child) {
          margin-bottom: 20px; } }
    .docs-item--open {
      max-height: 200px; }
      @media screen and (max-width: 992px) {
        .docs-item--open {
          max-height: 300px; } }
      @media screen and (max-width: 768px) {
        .docs-item--open {
          max-height: 400px; } }
      @media screen and (max-width: 540px) {
        .docs-item--open {
          max-height: 500px; } }
      @media screen and (max-width: 420px) {
        .docs-item--open {
          max-height: 600px; } }
    .docs-item__button {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background-color: #eeeeee;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 5px;
      text-align: left;
      padding: 0 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      width: 100%; }
      @media screen and (max-width: 540px) {
        .docs-item__button {
          padding: 0 15px;
          height: 40px; } }
      .docs-item__button-text {
        font-weight: 500;
        font-size: 16px; }
        @media screen and (max-width: 540px) {
          .docs-item__button-text {
            font-size: 14px; } }
      .docs-item__button-icon {
        position: relative;
        height: 16px;
        width: 16px; }
        @media screen and (max-width: 540px) {
          .docs-item__button-icon {
            height: 12px;
            width: 12px; } }
        .docs-item__button-icon span {
          -webkit-transition: -webkit-transform 0.5s ease;
          transition: -webkit-transform 0.5s ease;
          -o-transition: transform 0.5s ease;
          transition: transform 0.5s ease;
          transition: transform 0.5s ease, -webkit-transform 0.5s ease;
          background-color: #000000;
          position: absolute;
          height: 2px;
          width: 100%;
          left: 0;
          top: 7px; }
          @media screen and (max-width: 540px) {
            .docs-item__button-icon span {
              top: 5px; } }
          .docs-item__button-icon span:nth-child(1) {
            -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg); }
          .docs-item__button-icon span:nth-child(2) {
            -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg); }
        .docs-item__button--active .docs-item__button-icon span:nth-child(1) {
          -webkit-transform: rotate(0);
                  -ms-transform: rotate(0);
                  transform: rotate(0); }
        .docs-item__button--active .docs-item__button-icon span:nth-child(2) {
          -webkit-transform: rotate(-180deg);
                  -ms-transform: rotate(-180deg);
                  transform: rotate(-180deg); }
    .docs-item__descr {
      padding: 0 20px; }
      .docs-item__descr-text {
        line-height: 1.6;
        font-weight: 400;
        font-size: 16px;
        color: #727272;
        margin: 20px 0; }
        @media screen and (max-width: 540px) {
          .docs-item__descr-text {
            font-size: 14px; } }

/*
  ENCRYPTION
*/
.encryption {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .encryption__image {
    height: 300px;
    width: 100%; }
    @media screen and (max-width: 540px) {
      .encryption__image {
        height: 50vw; } }

/*
  CRYPT
*/
.crypt {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  display: -ms-grid;
  display: grid;
  gap: 30px; }
  @media screen and (max-width: 768px) {
    .crypt {
      gap: 20px; } }
  .crypt__field {
    position: relative; }
    .crypt__field--text {
      -ms-grid-column-span: 1;
      grid-column: span 1;
      height: 200px; }
      @media screen and (max-width: 540px) {
        .crypt__field--text {
          -ms-grid-column-span: 2;
          grid-column: span 2; } }
    .crypt__field--methods {
      -ms-grid-column-span: 2;
      grid-column: span 2; }
    .crypt__field--send {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-grid-column-span: 2;
      grid-column: span 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .crypt__label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
    .crypt__label:not(:last-child) {
      margin-bottom: 5px; }
    .crypt__label span {
      -webkit-transform: translateY(1px);
              -ms-transform: translateY(1px);
              transform: translateY(1px);
      font-weight: 500;
      font-size: 16px; }
  .crypt__radio {
    margin-right: 10px; }
  .crypt__input {
    border: 1px solid #999999;
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
            box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 16px;
    color: #555555; }
    .crypt__input[data-input-status="fail"] {
      -webkit-box-shadow: 0 5px 5px rgba(212, 75, 87, .75);
              box-shadow: 0 5px 5px rgba(212, 75, 87, .75);
      border: 1px solid #d44b57; }
    .crypt__input[data-input-status="nice"] {
      -webkit-box-shadow: 0 5px 5px rgba(86, 144, 31, .75);
              box-shadow: 0 5px 5px rgba(86, 144, 31, .75);
      border: 1px solid #56901f; }
  .crypt__button:not(:last-child) {
    margin-right: 30px; }
  .crypt-methods {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 540px) {
      .crypt-methods {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    .crypt-methods__inner {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      @media screen and (max-width: 540px) {
        .crypt-methods__inner {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
    .crypt-methods__item {
      background-color: transparent;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      border-radius: 5px;
      padding: 12px 40px;
      font-size: 16px; }
      @media screen and (min-width: 1210px) {
        .crypt-methods__item:focus, .crypt-methods__item:hover {
          background-color: #e5e5e5; } }
      @media screen and (max-width: 768px) {
        .crypt-methods__item {
          padding: 10px 30px;
          font-size: 14px; } }
      .crypt-methods__item:not(:last-child) {
        margin-right: 30px; }
        @media screen and (max-width: 992px) {
          .crypt-methods__item:not(:last-child) {
            margin-right: 20px; } }
        @media screen and (max-width: 540px) {
          .crypt-methods__item:not(:last-child) {
            margin-right: 0; } }
      .crypt-methods__item[data-method-select] {
        background-color: #e5e5e5; }

/*
  CODING
*/
.coding {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .coding-item:not(:last-child) {
    margin-bottom: 50px; }
    @media screen and (max-width: 992px) {
      .coding-item:not(:last-child) {
        margin-bottom: 45px; } }
    @media screen and (max-width: 768px) {
      .coding-item:not(:last-child) {
        margin-bottom: 40px; } }
  .coding-item__title {
    font-weight: 700;
    font-size: 22px;
    color: #000000; }
  .coding-item__descr {
    margin: 30px 0;
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
    color: #727272; }
    @media screen and (max-width: 992px) {
      .coding-item__descr {
        margin: 15px 0; } }
    @media screen and (max-width: 768px) {
      .coding-item__descr {
        margin: 15px 0; } }
  .coding-item__copy {
    background-color: #e5e5e5;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 15px 50px;
    cursor: pointer;
    font-size: 16px; }
    @media screen and (min-width: 1210px) {
      .coding-item__copy:focus, .coding-item__copy:hover {
        background-color: #d5d5d5; } }
    @media screen and (max-width: 992px) {
      .coding-item__copy {
        margin-bottom: 25px;
        padding: 12px 45px; } }
    @media screen and (max-width: 768px) {
      .coding-item__copy {
        margin-bottom: 20px;
        padding: 10px 40px; } }
    @media screen and (max-width: 540px) {
      .coding-item__copy {
        font-size: 14px; } }
  .coding-item__inner {
    font-family: 'JetBrains Mono', monospace;
    background-color: #222222;
    border-radius: 10px;
    padding: 20px 30px;
    overflow-x: auto;
    line-height: 2.0;
    font-weight: 300;
    font-size: 14px;
    color: #eeeeee; }
    @media screen and (max-width: 992px) {
      .coding-item__inner {
        padding: 15px 25px;
        font-size: 13px; } }
    @media screen and (max-width: 768px) {
      .coding-item__inner {
        padding: 15px 20px;
        font-size: 12px; } }
    .coding-item__inner span.green {
      font-weight: 700;
      color: #6a8759; }
    .coding-item__inner span.yellow {
      font-weight: 700;
      color: #ffc66d; }
    .coding-item__inner span.orange {
      font-weight: 700;
      color: #CC8239; }
    .coding-item__inner span.violet {
      font-weight: 700;
      color: #a782b9; }
    .coding-item__inner span.blue {
      font-weight: 700;
      color: #7a9ec2; }
    .coding-item__inner span.symbol {
      font-family: 'Roboto', sans-serif;
      font-weight: 500; }
    .coding-item__inner span.arrow {
      font-family: 'Roboto', sans-serif;
      color: #CC8239;
      font-weight: 500; }

/*
  FOOTER
*/
.footer {
  background-color: #34547a;
  padding: 50px 0; }
  @media screen and (max-width: 992px) {
    .footer {
      padding: 45px 0; } }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 40px 0; } }
  @media screen and (max-width: 540px) {
    .footer {
      padding: 35px 0; } }
  @media screen and (max-width: 420px) {
    .footer {
      padding: 30px 0; } }
  .footer__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    color: #ffffff; }
    .footer__info-author {
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 21px; }
    .footer__info-copyright {
      font-weight: 400;
      font-size: 13px; }
  .footer__scroll-up {
    background: #f5f5f5 url("../img/footer/scroll-up.svg") center no-repeat;
    background-size: 15px;
    border-radius: 5px;
    height: 40px;
    width: 40px; }
    @media screen and (min-width: 1210px) {
      .footer__scroll-up:focus, .footer__scroll-up:hover {
        background-color: #e5e5e5; } }
    @media screen and (max-width: 992px) {
      .footer__scroll-up {
        height: 30px;
        width: 30px; } }
